* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    background: #333;
    color: #fff;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.App-header-wrapper {
    width: 100%;
}

.App-header {
    z-index: 100;
    width: 100%;
    background: #555;
    box-shadow: 1px 1px 1px 1px #222;
}

.header-wrapper {
    padding: 1rem;
}

.header-wrapper h1 {
    font-size: 2.3rem;
    margin: 0;
}

.App-main {
    width: 100%;
    z-index: 100;
}

.dashboard-main {
    padding: 1rem;
    width: 100%;
    background: #555;
    box-shadow: 1px 1px 1px 1px #222;
}

.global-main {
    padding: 1rem;
    width: 100%;
    background: #555;
    box-shadow: 1px 1px 1px 1px #222;
}

.local-stats {
    padding: 1rem;
    width: 100%;
    background: #555;
    box-shadow: 1px 1px 1px 1px #222;
}

.local-hospital-stats {
    padding: 1rem;
    width: 100%;
    background: #555;
    box-shadow: 1px 1px 1px 1px #222;
}

.App-footer {
    padding: 1rem;
    z-index: 100;
    width: 100%;
    background: #555;
    box-shadow: 1px 1px 1px 1px #222;
}

.statistic {
    padding: 2rem 1rem;
    z-index: 100 !important;
    width: 100%;
    background: #555;
    box-shadow: 1px 1px 1px 1px #222;
    color: #fff !important;
}

.chartjs-render-monitor {
    color: #fff !important;
}

.btn-dashboard:hover {
    color: #fff !important;
    box-shadow: none !important;
}

.btn-local:hover {
    background: #368a33 !important;
}

.btn-global:hover {
    background: #114680 !important;
}

@media only screen and (max-width: 550px) {
    .btn-dashboard {
        display: block;
    }
}