* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    color: #fff;
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    padding: 1rem;
    /* background-image: url('./assets/background.jpg');
    background-size: cover; */
    background: #264348;
    opacity: 0.9;
}

.App-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 1rem;
}

.header-wrapper {
    padding: 0.5rem;
}

.header-wrapper h1 {
    font-size: 2.3rem;
    margin-bottom: 0.3rem;
}

.header-wrapper h3 {
    margin-bottom: 1rem;
}

.App-footer {
    margin-top: 2rem;
}


/* .App-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #444;
} */

.btn-dashboard:hover {
    background: #222 !important;
    color: #fff !important;
    box-shadow: none !important;
}

@media only screen and (max-width: 450px) {
    .btn-dashboard {
        display: block;
    }
}