*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.6;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
.alert,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: clamp(1.5rem, calc(5vw+0.5rem), 3.5rem);
  line-height: 2;
  letter-spacing: 0.75rem;
  text-align: center;
  color: #ffffff;
}

h2 {
  font-size: clamp(1.5rem, calc(5vw+0.5rem), 2.5rem);
  font-weight: 500;
  letter-spacing: 0.25rem;
  color: #ffffff;
}

h3 {
  font-size: clamp(1rem, calc(5vw+0.25rem), 1.5rem);
  font-weight: 400;
  letter-spacing: 0.25rem;
  color: #ffffff;
}


h4,
.alert {
  font-size: clamp(0.5rem, calc(5vw+0.25rem), 1rem);
  font-weight: 400;
  letter-spacing: 0.15rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h4:hover, .alert:hover, h4:focus, .alert:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

p {
  font-size: clamp(0.35rem, calc(5vw+0.25rem), 1rem);
  letter-spacing: 0.25rem;
  font-weight: 400;
  line-height: 2;
  color: #ffffff;
}

a {
  font-size: clamp(1rem, calc(5vw+0.25rem), 1.5rem);
  text-decoration: none;
  color: #ffffff;
}

select {
  width: 70%;
  height: 40px;
  outline: none;
  border-radius: 0.25em;
  font-size: clamp(0.5rem, calc(5vw+0.25rem), 1rem);
  font-weight: 400;
  background: transparent;
  color: #ffffff;
}

select option {
  background: #111;
  color: #ffffff;
}

.alert {
  margin: 0.5rem auto;
  width: 50%;
  padding: 0.5rem;
  border-radius: 0.25em;
  color: #ffffff;
}

.flow > * + * {
  margin-top: 1rem;
}

.App-container {
  max-width: 90rem;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  padding: 1rem 2rem;
  background: #333;
  border-radius: 0.25rem;
  display: inline-block;
  font-size: clamp(0.5rem, calc(5vw+0.25rem), 1rem);
  letter-spacing: 0.15rem;
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.3s ease-in;
  transition: opacity 0.3s linear, -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in, opacity 0.3s linear;
  transition: transform 0.3s ease-in, opacity 0.3s linear, -webkit-transform 0.3s ease-in;
}

.btn:hover {
  background: #ffffff !important;
  color: #111 !important;
  -webkit-transform: scale(1.1) !important;
          transform: scale(1.1) !important;
  opacity: 0.9 !important;
}

.App {
  background: #111;
}

@supports (background-blend-mode: multiply) {
  .App {
    background: url("./assets/background.jpg"), radial-gradient(#555, #000);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-attachment: fixed;
  }
}

.App-header {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.App-main {
  margin: 3rem auto;
}

.App-main .img-GIF {
  margin: auto;
  text-align: center;
  width: clamp(60px, calc(5vw+5px), 80px);
  border-radius: 5%;
}

.App-main .Dashboard {
  margin-top: 4rem;
  text-align: center;
}

.App-main .Dashboard .dashboard-main {
  margin: 4rem auto;
}

.App-main .Dashboard .dashboard-main .btn-group {
  margin: 4rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2em;
}

.App-main .Dashboard .dashboard-main .btn-group .btn-local {
  background: #003380;
}

.App-main .Dashboard .dashboard-main .btn-group .btn-global {
  background: #00802b;
}

.App-main .LocalCases {
  margin-top: 4rem;
  text-align: center;
}

.App-main .LocalCases .local-stats {
  margin: 4rem auto;
}

.App-main .LocalCases .local-hospital-stats {
  margin-bottom: 4rem;
}

.App-main .GlobalCases {
  margin-top: 4rem;
  text-align: center;
}

.App-main .GlobalCases .global-main {
  margin: 4rem auto;
}

.App-footer {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
}
