@import './variables';
@import './functions';
@import './mixins';
@import './resets';
.App {
    background: url('./assets/background.jpg'), radial-gradient(#444, #111111);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-attachment: fixed;
}

// Header Styles
.App-header {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
}

// Main Styles
.App-main {
    margin: 3rem auto;
    .img-GIF {
        margin: auto;
        text-align: center;
        width: clamp(60px, calc(5vw+5px), 80px);
        border-radius: 5%;
    }
    .Dashboard {
        margin-top: 4rem;
        text-align: center;
        .dashboard-main {
            margin: 4rem auto;
            .btn-group {
                margin: 4rem auto 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 2em;
                .btn-local {
                    background: #003380;
                }
                .btn-global {
                    background: #00802b;
                }
            }
        }
    }
    // Local Case Styles
    .LocalCases {
        margin-top: 4rem;
        text-align: center;
        .local-stats {
            margin: 4rem auto;
        }
        .local-hospital-stats {
            margin-bottom: 4rem;
        }
    }
    // Global Case Styles
    .GlobalCases {
        margin-top: 4rem;
        text-align: center;
        .global-main {
            margin: 4rem auto;
        }
    }
}

// Footer
.App-footer {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}